{% extends 'base.html.twig' %}


{% block title %}Сообщение в техподдержку{% endblock %}

{% block body %}

<div class="container">
<div class=" example-wrapper ">

    {{ include('helpdesk/createticketform.twig') }}


</div>
<div class="ticketstable-wrapper">
    {{ include('helpdesk/ticketstable.twig') }}

</div>


</div>>
{% endblock %}
